@model UserManagement.Web.Models.Users.UserListItemViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
    <label asp-for="Forename">Forename:</label>
    <input asp-for="Forename" class="form-control" />
    <span asp-validation-for="Forename" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Surname">Surname:</label>
    <input asp-for="Surname" class="form-control" />
    <span asp-validation-for="Surname" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Email">Email:</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DateOfBirth">Date of Birth:</label>
    <input asp-for="DateOfBirth" type= "date" class="form-control" />
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
</div>


    <br/>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
